# Cognigy REST endpoint URL for "Skademelding Tekstassistent"-agenten.
# Se README for hvordan denne opprettes/gjenfinnes.
VITE_COGNIGY_ENDPOINT_URL=https://endpoint-xxxxx.cognigy.cloud/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
